@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
/* Manrope */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
/* Остальные шрифты */
@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
}
.top__stars-span {
  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 500;
}

.premium__content-text, .top__text, body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.top__panel-item-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.rest__cart-status {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.slide__title, .control__board-cart-time, .control__board-cart-text, .rest__link, .top__pro, .top__start, .btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dishes__cart-title, .top__span-text, .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.control__board-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.slide__text-own {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.control__dash-item-sum, .control__dash-item-title, .control__dash-top-title {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.dropdown__btn {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.control__dash-item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.rest__cart-num, .rest__cart-time {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.slide__text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.top__panel-item-title {
  font-family: "PublicSans", sans-serif;
  font-weight: 700;
}

.title {
  color: #201F1F;
  letter-spacing: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #6C5FBC;
  border-radius: 15px;
  border: none;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
}

.span {
  color: #5C4EAE;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 28px;
  background-color: #F9F9F9;
  color: #201F1F;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0px 15px;
}

.open--menu {
  overflow: hidden;
}

.header {
  background-color: #F9F9F9;
}
.header__inner {
  padding: 48px 0 25px;
  border-bottom: 1px solid #CBCBCB;
  display: flex;
  align-items: center;
}
.header__details {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 9px;
}
.header__details-login {
  color: #606060;
  padding: 17px 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}
.header__details-btn {
  padding: 17px 26px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo__text {
  color: #6C5FBC;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
}

.menu {
  max-width: 375px;
  margin-left: 9%;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 54px;
}
.menu__item-link {
  color: #606060;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.7;
  text-transform: capitalize;
}

.top {
  padding: 120px 0 130px;
  background-color: #F9F9F9;
}
.top__inner {
  display: flex;
  gap: 5px;
  position: relative;
}
.top__details {
  display: flex;
  flex-direction: column;
  gap: 53px;
}
.top__texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top__span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top__span-text {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #201F1F;
  opacity: 0.2;
}
.top__title {
  font-size: 75px;
  line-height: 1.2;
  letter-spacing: -0.0303030303rem;
  max-width: 576px;
}
.top__text {
  font-size: 18px;
  line-height: 1.5;
  color: #676767;
  max-width: 499px;
}
.top__buttons {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.top__btns {
  display: flex;
  align-items: center;
  gap: 18px;
}
.top__start {
  padding: 18px 30px;
  font-size: 17px;
  letter-spacing: 1%;
}
.top__pro {
  padding: 18px 27px;
  color: #6C5FBC;
  background-color: #F9F9F9;
  border: 2px solid #6C5FBC;
  border-radius: 13px;
  font-size: 17px;
  letter-spacing: 0.01rem;
  letter-spacing: 1%;
  transition: all 0.3s ease;
}
.top__pro:hover {
  transform: translateY(-2px);
}
.top__stars {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top__stars-span {
  font-size: 16px;
  line-height: 1.5;
  color: #334155;
}
.top__img-hero {
  position: absolute;
  right: -70px;
  top: 0;
}

.top__panel {
  padding: 57px 0 55px;
  background-color: #5C4EAE;
  position: relative;
}
.top__panel::after {
  position: absolute;
  content: "";
  background-image: url("/img/icon/vector7.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  left: 0;
  bottom: 0;
  width: 235px;
  height: 385px;
}
.top__panel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.top__panel-item:not(:last-child) {
  border-right: 1px solid #C5C5C5;
}
.top__panel-item {
  padding: 0 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top__panel-item-title {
  color: #fff;
  font-size: 43px;
  line-height: 1.25;
}
.top__panel-item-text {
  font-size: 15px;
  line-height: 1.46;
  color: #C5BFED;
  text-align: center;
}

.premium {
  padding: 103px 0 120px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CBCBCB;
}
.premium__inner {
  display: flex;
  gap: 5px;
  position: relative;
}
.premium__inner::after {
  position: absolute;
  content: "";
  background-image: url("/img/icon/illus.svg");
  width: 53px;
  height: 61px;
  top: 0%;
  left: 38%;
}
.premium__phone {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.premium__phone-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.premium__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 63px;
  position: relative;
}
.premium__content::after {
  position: absolute;
  content: "";
  background-image: url("/img/icon/vector14.svg");
  background-repeat: no-repeat;
  width: 170px;
  height: 155px;
  bottom: 0%;
  right: 30%;
}
.premium__content-title {
  font-size: 51px;
  max-width: 529px;
  line-height: 1.13;
  word-wrap: normal;
}
.premium__content-context {
  max-width: 547px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.premium__content-text {
  font-size: 20px;
  line-height: 1.5;
  color: #676767;
}
.premium__content-btn {
  padding: 20px 60px 20px 26px;
  width: 186px;
  position: relative;
}
.premium__content-btn::after {
  position: absolute;
  content: "";
  background-image: url("/img/icon/arrow.svg");
  width: 27px;
  height: 27px;
  top: 28%;
  right: 13%;
}

.rest {
  padding: 100px 0 120px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CBCBCB;
}
.rest__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  line-height: 1.5;
}
.rest__inner {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.rest__carts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.rest__cart {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
}
.rest__cart-img {
  margin-bottom: 10px;
}
.rest__cart-texts {
  display: flex;
  flex-direction: column;
  padding: 0 26px 17px 34px;
}
.rest__cart-status {
  padding: 3px 9px 2px 9px;
  width: 66px;
  color: #DAA31A;
  font-size: 13px;
  background-color: #F7EDD0;
  border-radius: 6px;
}
.rest__cart-title {
  font-size: 26px;
  line-height: 1.8;
}
.rest__cart-details {
  display: flex;
  align-items: center;
}
.rest__cart-time {
  font-size: 20px;
  line-height: 1.2;
  margin-right: 6px;
}
.rest__cart-time-star {
  margin-right: 6px;
}
.rest__cart-num {
  font-size: 20px;
  line-height: 1.2;
}
.rest__cart-book {
  margin-left: auto;
}
.rest__link {
  margin-left: auto;
  padding: 14px 28px 16px 0;
  font-size: 20px;
  line-height: 2;
  color: #ACADB9;
  position: relative;
}
.rest__link::after {
  position: absolute;
  content: "";
  background-image: url("./img/icon/arrow2.svg");
  right: 0;
  top: 50%;
  width: 100%;
  height: 100%;
}

.span-rest {
  padding-left: 10px;
}

.dishes {
  padding: 100px 0 120px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CBCBCB;
}
.dishes__inner {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.dishes__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  line-height: 1.8;
}
.dishes__carts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.dishes__cart {
  background-color: #fff;
  box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
  border-radius: 35px;
}
.dishes__cart-imgs {
  position: relative;
  padding: 26px 18px 0 6px;
}
.dishes__cart-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 19px;
}
.dishes__cart-inner {
  padding: 10px 28px 30px 25px;
}
.dishes__cart-title {
  font-size: 23px;
  line-height: 1.5;
}
.dishes__cart-nums {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dishes__cart-sum {
  color: gray;
  font-size: 20px;
}
.dishes__cart-sum-b {
  color: #000;
  font-size: 28px;
}

.details {
  margin-bottom: 13px;
}

.control {
  padding: 103px 0 138px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CBCBCB;
}
.control__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.control__board {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.control__board-title {
  font-size: 51px;
  line-height: 1.2;
  max-width: 560px;
}
.control__board-carts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.control__board-cart {
  max-width: 346px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
}
.control__board-cart-texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.control__board-cart-title {
  font-size: 19px;
  line-height: 1.4;
  color: #323142;
}
.control__board-cart-text {
  font-size: 12px;
  line-height: 1.4;
}
.control__board-cart-time {
  margin-left: auto;
  margin-top: auto;
  font-size: 13px;
  line-height: 1.4;
  color: #ACADB9;
}

.control__dash {
  padding: 46px 39px 46px 38px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border-radius: 25px;
  box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
}
.control__dash-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}
.control__dash-top-title {
  font-size: 29px;
  line-height: 1.35;
  color: #1A202C;
}
.control__dash-items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.control__dash-item {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 2px solid #EDF2F7;
  border-radius: 25px;
  gap: 20px;
}
.control__dash-item-details {
  display: flex;
  align-items: center;
  gap: 18px;
}
.control__dash-item-texts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.control__dash-item-title {
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.63px;
}
.control__dash-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.63px;
}
.control__dash-item-sum {
  margin-left: auto;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.31px;
}

.spaner {
  width: 100%;
  height: 9px;
  background-color: #EDF2F7;
  border-radius: 79px;
}

.spanerok {
  display: block;
  height: 100%;
  width: 30%;
  background-color: #6C5FBC;
  border-radius: 79px;
}

.spaner-b {
  width: 100%;
  height: 9px;
  background-color: #EDF2F7;
  border-radius: 79px;
}

.spanerok-b {
  display: block;
  height: 100%;
  background-color: #FBAD18;
  border-radius: 79px;
  opacity: 1;
  transition: width 0.5s ease-in-out;
}

.form-group {
  display: flex;
  justify-content: center;
}

.dropdown {
  position: relative;
}

.dropdown__btn {
  font-size: 19px;
  line-height: 1.5;
  color: #1A202C;
  background-color: #FAFAFA;
  border: 2px solid transparent;
  padding: 12px 0;
  padding-right: 50px;
  width: 176px;
  border-radius: 13px;
  position: relative;
  transition: border 0.3s ease;
}
.dropdown__btn::after {
  position: absolute;
  content: "";
  background-image: url("/img/icon/arrow-select.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 9px;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.dropdown__btn--active::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 100%;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 176px;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.dropdown__list-item:hover {
  background-color: gray;
  color: #fff;
}

.red {
  color: #F1534E;
}

.slider {
  padding: 116px 0 182px;
  background-color: #F9F9F9;
}
.slider__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.slider__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  line-height: 1.5;
}

.swiper-slide {
  padding: 38px 43px 38px 43px;
  background-color: #fff;
  border-radius: 21px;
  box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
  max-width: 528px;
}

.slide__inner {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.slide__details {
  display: none;
  align-items: center;
  gap: 21px;
}
.slide__texts {
  display: flex;
  flex-direction: column;
}
.slide__title {
  font-size: 21px;
  line-height: 1.5;
  color: #030314;
}
.slide__text {
  font-size: 17px;
  line-height: 1.5;
  color: #5E5D5D;
}
.slide__svg {
  margin-left: auto;
}
.slide__text-own {
  font-size: 18px;
  line-height: 1.5;
  color: #636363;
  max-width: 442px;
}
.slide__img-stars {
  width: 138px;
  height: 23px;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  right: 0;
  left: auto;
}

.swiper-slide.swiper-slide-active .slide__details {
  display: flex;
}

.span-rest {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */