.get{
    padding-bottom: 216px;
    background-color: $bg-color;
    &__inner{
        background-color: #6C5FBC;
        width: 100%;
        border-radius: 30px;
        padding: 37px 0 61px 66px;
        position: relative;
        overflow: hidden;
        &::after{
            position: absolute;
            content: "";
            background-image: url('/img/rest/get.svg');
            right: 0;
            top: 0;
            width: 1214px;
            height: 280px;
        }
    }&__title{
        @extend %poppins-800;
        font-size: 70px;
        line-height: 1.5;
        color: #FFFFFF;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__input{
        padding: 22px 45px 23px 22px;
        background-color: #fff;
        border-bottom-left-radius: 15px; 
        border-top-left-radius: 15px; 
        @extend %poppins-400;
        font-size: 17px;
        letter-spacing: 3%;
    }
    &__btn{
        padding: 16px 25px;
        @extend %poppins-500;
        font-size: 15px;
        letter-spacing: 3%;
        text-transform: uppercase;
        color: #F7F8FA;
        background-color: $button-Bgcolor;
        border-radius: 12px;
        margin: 7px;
        &-wrapper{
            background-color: #fff;
            border-bottom-right-radius: 15px; 
            border-top-right-radius: 15px;
        }
    }

    &__dish{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-image: url('/img/rest/food.png');
            background-repeat: no-repeat;
            width: 276px;
            height: 276px;
            right: 7%;
            top: 20%;
        }
    }
}

@media (max-width: 1024px){
    .get{
        &__title{
            font-size: 50px;
        }
        &__input{
            font-size: 12px;
        }
        &__btn{
            margin: 4px;
        }
    }
    .get__dish::after{
        top: 13%;
    }
}

@media (max-width: 800px){
    .get__inner {
        padding: 64px 0 215px 66px;
        &::after{
            display: none;
        }
    }
    
    
    .get__dish::after {
        top: 60%;
        left: 35%;
    }
}

@media (max-width: 600px){
    .get__dish::after {
        top: 60%;
        left: 27%;
    }
}

@media (max-width: 500px){
    .get__dish::after {
        top: 60%;
        left: 24%;
    }
    .get{
        &__title{
            font-size: 40px;
        }
        &__input{
            font-size: 11px;
        }
        &__btn{
            margin: 3px;
        }
    }
    .get__inner {
        padding: 26px 0 215px 31px;
    }
}

@media (max-width: 420px){
    .get__dish::after {
        top: 60%;
        left: 16%;
    }
    .get__inner {
        padding: 26px 0 215px 14px;
    }
}


