.slider{
    padding: 116px 0 182px;
    background-color: $bg-color;
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__title{
        display: flex;align-items: center;
        justify-content: center;
        font-size: 45px;
        line-height: 1.5;
    }
}


.swiper{
    &-slide{
        padding: 38px 43px 38px 43px;
        background-color: #fff;
        border-radius: 21px;
        box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
        max-width: 528px;
    }
}

.slide{
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 31px;
    }
    &__details{
        display: none;
        align-items: center;
        gap: 21px;
    }
    &__img{

    }
    &__texts{
        display: flex;
        flex-direction: column;
    }
    &__title{
        @extend %poppins-500;
        font-size: 21px;
        line-height: 1.5;
        color: #030314;
    }
    &__text{
        @extend %quicksand-500;
        font-size: 17px;
        line-height: 1.5;
        color: #5E5D5D;
    }
    &__svg{
        margin-left: auto;
    }
    &__text-own{
        @extend %poppins-400-italic;
        font-size: 18px;
        line-height: 1.5;
        color: #636363;
        max-width: 442px;
    }
    &__img-stars{
        width: 138px;
        height: 23px;
    }
}


.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    right: 0;
    left: auto;
}



.swiper-slide{
    &.swiper-slide-active{
        .slide__details{
            display: flex;
        }
    }
}



@media (max-width: 900px){
    .slide{
        &__inner{
            gap: 15px;
        }
        &__text-own{
            font-size: 15px;
        }
    }
    .swiper-slide {
        padding: 28px 33px 28px 33px;
        background-color: #fff;
        border-radius: 21px;
        box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
        max-width: 428px;
    }
}

@media (max-width: 606px){
    .swiper-scrollbar{
        display: none;
    }
    .swiper-slide {
        padding: 23px 28px 23px 38px;
        background-color: #fff;
        border-radius: 21px;
        box-shadow: 6px 71px 35px rgba(229, 229, 229, 0.7);
        max-width: 358px;
    }
    .slide{
        &__inner{
            gap: 12px;
        }
        &__text-own{
            font-size: 12px;
        }
        &__title{
            font-size: 14px;
        }
        &__text{
            font-size: 12px;
        }
    }
}

